body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
    margin: 0%;
    }
    .order-button{
        text-decoration: none;
        background-image: linear-gradient(ORANGE, TOMATO);
        color: white;
        font-weight: 700;
        padding: 10px 40px;
        border-radius: 5%;
    }
    .help-those{
        color: white;
        background-image: url(donate-today-main/images/poor-g0aa4816ec_1920.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;
        margin-bottom: 100px;
        
    }
    .color{
        font-size: 3em;
    }
    .save-earth{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .support{
        font-size: 3em;
        
    }
    .make{
        color: gray;
        text-align: center;

    }
    .all-boxes{
        display: flex;
        flex-direction: row;
        justify-content: center;
  align-items: center;
  margin-bottom: 50px;

      
        
    }
    .box-1{
        width: 100px;
        height: 100px;
   padding: 5px;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
    }
    .box-2{
        width: 100px;
        height: 100px;
        border: 5px solid lightcoral;
   padding: 5px;
  margin: 20px;
  background-color: rgb(255, 231, 234);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: lightcoral;
  
  
    }
    .box-3{
        width: 100px;
        height: 100px;
   padding: 5px;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
    }
    .box-4{
        width: 100px;
        height: 100px;
   padding: 5px;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
    }
    .box-5{
        width: 100px;
        height: 100px;
   padding: 5px;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
    }
    .amount{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: grey;
    }
.line{
  
    width: 800px;
    border: solid gray;
    margin-bottom: 30px;
}

.donat{
    margin-top: 100px;
    font-size: 3em;
    color: black;
}
.our-plan{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: gray;
        margin-bottom: 50px;
}
.establish{
    display: flex;
        flex-direction: row;
        justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.boxxx{
    width: 250px;
    height: 250px;
padding: 20px;
padding-top: 30px;
margin: 20px;
background-color: rgb(226, 241, 247);
border-radius: 10px;

}
.icon{
  font-size: 3em;
}
.boxxx-1{
    width: 250px;
    height: 250px;
padding: 20px;
padding-top: 30px;
margin: 20px;
background-color: rgb(255, 226, 230);
border-radius: 10px;
}
.boxxx-2{
    width: 250px;
    height: 250px;
padding: 20px;
padding-top: 30px;
margin: 20px;
background-color: rgb(250, 250, 223);
border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.Their-lives{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 50px;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 50px;

 

}

.Their-lives img{
width: 50%;
}
.texr-1{
    width: 40%;
}
.img-1{
    width: 70%;
    padding-left: 200px;
}
.They-need{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 50px;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 50px;

}
.texr-2{
    width: 40%;
    padding-right: 200px;
}
.img-2{
    width: 70%;
  
    
}
.They-need img{
    width: 70%;
    }